In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:

# Visit Nasa news url through splinter module
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
#Create a HTML object to parse with Beautiful Soup
html = browser.html

#Parse HTML Object with Beautiful Soup
soup = bs(html, 'html.parser')

In [5]:
#Nasa Mars News
#Retrieve the latest News Title and News Paragraph data
#Inspect web page for root path to information use soup.find to pull the data

news_title = soup.find('div', class_ ='list_text').find('a').text

news_paragraph = soup.find('div', class_='article_teaser_body').text


#print scrapped title and paragragh
print(news_title)
print(news_paragraph)

Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover
NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

In [6]:
#JPL Mars Space Images
#Use splinter to find the url for the current featured image

mars_image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(mars_image_url)

In [7]:
#create an HTML object to parse with Beautiful Soup
html_image = browser.html

#parse HTML with Beautiful Soup
soup = bs(html_image, 'html.parser')

In [8]:
#grab the background image url
featured_image_url = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

#connect the main url for the website to the background image url
#base url
main_url = 'https://www.jpl.nasa.gov'

#join base url and background url
featured_image_url = main_url + featured_image_url


print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA11591-1920x1200.jpg

In [9]:
#Mars Weather
#Grab the latest weather report tweet from the mars twitter account
twitter_weather_url= 'https://twitter.com/MarsWxReport/status/1235261528946937856'
browser.visit(twitter_weather_url)

In [10]:
#create an HTML object to parse with Beautiful Soup
html_twitter_weather= browser.html

#parse object with Beautiful Soup
soup = bs(html_twitter_weather, 'html.parser')

In [11]:
#Grab the latest weather tweet
latest_weather_tweet = soup.find('div', class_='css-901oao r-hkyrab r-1qd0xha r-1blvdjr r-16dba41 r-ad9z0x r-bcqeeo r-19yat4t r-bnwqim r-qvutc0').text
latest_weather_tweet

AttributeError: 'NoneType' object has no attribute 'text'

In [12]:
#Mars Facts
#Scrape table containing facts about planet mars using pandas

#place URL in variable to be called by pandas
mars_facts_url = 'https://space-facts.com/mars/'

#Use pandas to parse the URL
mars_facts = pd.read_html(mars_facts_url)
mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
mars_facts_df = mars_facts[0]

In [14]:
#Change titles 
mars_facts_df.columns = ['Perameter', 'Facts']
mars_facts_df

              Perameter                          Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
#prep for HTML page
mars_facts_df.set_index('Perameter', inplace=True)
mars_facts_df

                                              Facts
Perameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
#Save to HTML
mars_facts_df.to_html("mars_facts_df.html")

In [17]:
#Mars Hemispheres
#Grab high resolution images for each Mars Hemisphere
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

#create HTML object to be parsed
hemispheres_html = browser.html

#parse HTML with Beautiful Soup
soup = bs(hemispheres_html, 'html.parser')

In [18]:
#Grab the items that has the hemispheres information
items = soup.find_all('div', class_='item')

#Hemisphere URL list
hemisphere_pic_urls = []

#Plase main url in variable to combine later
hemisphere_url = 'https://astrogeology.usgs.gov'

#create a loop  to grab each link and create a dictoinary 
for i in items:
    #grab the title
    title = i.find('h3').text
    
    #website link for images
    img_url = i.find('a', class_='itemLink product-item')['href']
    
    #Visit the link that contains the full image using browser
    browser.visit(hemisphere_url + img_url)
    
    #make html object of hemisphere
    img_html = browser.html
    
    #use beautiful soup to parse each hemisphere
    soup = bs(img_html, 'html.parser')
    
    #grab the full image data
    img_url = hemisphere_url + soup.find('img', class_='wide-image')['src']
    
    hemisphere_pic_urls.append({'title':title, 'img_url':img_url})
    
    
#pring urls
hemisphere_pic_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]